[Unit]
Description=SSH-Agent

[Service]
Type=simple
Environment=RUST_LOG=INFO DISPLAY=:0
ExecStart=/home/jonas/.local/bin/smith -a %t/smith.socket -f

[Install]
WantedBy=default.target

